
/* main page styles */
body {
  font-family: sans-serif, Arial, Helvetica;
  background-color: white;
  color: #333;
  /*margin: 0;*/
}
a[href], a[href]:link {
  color:blue;
  text-decoration: none;
}
a[href]:hover {
  color:blue;
  text-decoration: underline;
}

table.body {
  border: 0;
  padding: 0;
  border-spacing: 0;
  border-collapse: separate;
}

.summary {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*padding-left: 1em;*/
    padding-top: 1em;
    padding-right: 1em;
    /*float: left;*/
}

.title {
    /*background-color: #f4f4ff;*/
    padding: 5px;
    font-size: 120%;
    font-weight:bold;
    border-bottom: solid gray 1px;
}

.label_title, .label_status, .label_owner, .label_priority, .label_summary, .label_tags, .label_message, .label_author, .label_mtime, .label_ctime, .label_id, .label_x, .label_y, .label_z, .label_t {
    color: #338;
    text-align: right;
    vertical-align: top;
    white-space: nowrap;
    padding-right: 5px;
    margin-left: 10px;
    font-weight:bold;
}
.tk_td_input {
    vertical-align:top;
}

.field_title, .field_status, .field_owner, .field_priority, .field_summary, .field_tags {
    float: left;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2px;
    margin-bottom: 2px;
}

.tk_msg {
    background-color: #f4f4ff;
    padding: 5px;
    border: solid gray 1px;
    width: 60em;
    margin: 8px;
}
.tk_msg_header {
    font-weight:bold;
}
.tk_msg_id, .tk_msg_author, .tk_msg_date, .tk_msg_del {
    padding-right: 1em;
}
.tk_input_title {
    width: 50em;
}
.message {
    clear: both;
}

form {
  margin: 0;
}



table.list {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
}

table.list th {
  padding: 0 4px 0 4px;
  color: #404070;
  background-color: #eef;
  border: 1px solid white;
  vertical-align: top;
  empty-cells: show;
}
table.list th a[href]:hover { color: #404070 }
table.list th a[href]:link { color: #404070 }
table.list th a[href] { color: #404070 }
table.list th.group {
  background-color: #f4f4ff;
  text-align: center;
}

table.list td {
  padding: 0 4px 0 4px;
  border: 1px solid white;
  color: #404070;
  background-color: #efefef;
  vertical-align: top;
  empty-cells: show;
}

table.list tr.navigation th {
  width: 33%;
  border-style: hidden;
  text-align: center;
}
table.list tr.navigation td {
    border: none
}
table.list tr.navigation th:first-child {
  text-align: left;
}
table.list tr.navigation th:last-child {
  text-align: right;
}

.searchbox {
    float: right;
}
